<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/aufgabe2</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<mapping class="haw.ai.server.bestell_komponente.Angebot" />
		<mapping class="haw.ai.server.bestell_komponente.Auftrag" />
		<mapping class="haw.ai.server.kunden_komponente.Kunde" />
		<mapping class="haw.ai.server.liefer_komponente.Lieferung" />
		<mapping class="haw.ai.server.liefer_komponente.Transportauftrag" />
		<mapping class="haw.ai.server.lager_komponente.Produkt" />
		<mapping class="haw.ai.server.lager_komponente.Warenausgangsmeldung" />
		<mapping class="haw.ai.server.rechnungs_komponente.Rechnung" />
		<mapping class="haw.ai.server.rechnungs_komponente.Zahlungseingang" />
	</session-factory>
</hibernate-configuration>
